body {
  color: whitesmoke;
  background: radial-gradient(circle,dodgerblue, yellow);
  background-clip: text;
  animation: body 5s linear infinite;
  background-size: 200% 200%;
}

@keyframes body {

0% {
  background-position: 0% 0%;
}
50% {
  background-position: 100% 100%;
}
100% {
  background-position: 0% 0%;
}
}