body {
  font-family: Arial, sans-serif;
  text-decoration-line: underline;
  background: radial-gradient(circle,dodgerblue, yellow);
  background-clip: text;
  animation: body 2s linear infinite;
  background-size: 200% 200%;
}

.h1 {
  text-align: center;
}

.loading-wrapper {
  display: none; /* Hide initially */
}

.pokemon-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-list li {
  margin: 10px;
}

.pokemon-button {
  background-color: green;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

button:focus {
  background-color: red;
  color: white;
}

.modal-container {
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 50%;
  margin: auto; */
  /* height: 100%; */
  /* background: rgba(0, 0, 0, 0.5); */
  /* display: flex;
  /* justify-content: center; */ 
  /* align-items: center; */
}

.modal {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: yellow;
  padding: 80px;
  /* border-radius: 100px;  */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  /* max-width: 500px; */
  width: 50%;
  height: 80%;
  margin-left: 25%;
/*   text-align: center; */
}

.modal-close {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.loader {
  /* position: absolute; */
/*   float: center; */
/*   margin-left: 1%; */
  top: 1%;
/*   margin: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translatey(-50%);
}

.loader::after {
  content: '';
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;

}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}