/* General Body Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle, dodgerblue, yellow);
  color: #333;
}

/* Top Navigation Styles */
.topnav {
  margin-bottom: 20px;
}

/* Main Heading Styles */
h1 {
  text-align: center;
  color: #ff2626;
  margin-bottom: 20px;
}

.h1 img {
  display: block; /* Center the image */
  margin: 0 auto; /* Center the image */
}

/* List Item Styles */
.list-group-item {
  margin-bottom: 10px;
}

/* Button Styles */
.btn {
  /* Full width for buttons */

  background-color: #28a745; /* Green color */
  color: white; /* White text color */
  border: none; /* Remove default border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
  padding: 10px 20px; /* Increase padding for better touch target */
}

.card {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
  height: 100%; /* Ensure the card has a height to center the button */
}

/* Pokémon List Styles */
.pokemon-list {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to form multiple rows */
  justify-content: center; /* Center the items horizontally */
}

/* List Item Styles */
.col-md-4 {
  display: flex;
  justify-content: center; /* Center the column itself */
  margin-bottom: 20px; /* Space between rows */
}

.btn:hover {
  transform: translateY(-2px); /* Slight lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

/* Modal Styles */
.modal-content {
  text-align: center;
}

.pokemon-image {
  display: block; /* Center the image */
  margin: 0 auto; /* Center the image */
  max-width: 20%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}

/* Additional Text Styles in Modal */
.pokemon-height,
.pokemon-weight,
.pokemon-types {
  margin-top: 10px;
  font-size: 1.2em;
}

/* Search Input Styles */
#searchInput {
  width: 200px; /* Adjust width as needed */
  max-width: 200px; /* Set a maximum width */
  padding: 10px; /* Increase padding for better touch target */
}

#searchForm {
  display: flex; /* Flexbox for easy alignment */
  align-items: center; /* Center items vertically */
}
